header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: olivedrab;
    padding: 20px;
}

.nav__links li {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: #f8f9fa;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #09090b;
}

.nav-item {
    cursor: pointer;
}

.nav-item i {
    margin-right: 5px;
}

.logo{
    padding: 10px;
    border-radius: 1rem;
    background-color: #09090b;
    display: flex;
    align-items: center;
    justify-content: center;
}