table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

th, td {
    border: 1px solid #4caf50;
    border-radius: 7px;
    padding: 8px;
    text-align: left;
}

.clear_all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}