<div class="card flex justify-content-center">
    <p-button (click)="showDialog()" label="Favoritos"> <i class="pi pi-star" style="margin-right: 0.5rem"></i></p-button> 
    <p-dialog 
        header="Favoritos" 
        [modal]="true"
        [(visible)]="visible" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <span>Selecciona desde la tabla tus empleados favoritos para verlos actualizados aquí.</span>
            <table>   
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Nombre de Empresa</th>
                    <th>Nivel de felicidad</th>
                </tr>
                <tr *ngFor="let favorite of favorites">
                    <td> {{ favorite.id }} </td>
                    <td> {{ favorite.name }} </td>
                    <td> {{ favorite.company }} </td>
                    <td> {{ favorite.levelOfHappiness }} </td>
                </tr>
            </table>
    </p-dialog>
</div>